<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stech.tcip.event.dao.EventpushlogMapper">
  <resultMap id="BaseResultMap" type="com.stech.tcip.event.pojo.Eventpushlog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pushcode" property="pushcode" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="dataorgid" property="dataorgid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.stech.tcip.event.pojo.Eventpushlog" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARBINARY"/>
  </resultMap>

  <resultMap id="MessageResultMap" type="java.lang.String" >
    <result column="message" property="message" jdbcType="LONGVARBINARY" typeHandler="com.stech.tcip.sys.util.ConvertBlobTypeHandler"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, pushcode, appid, url, status, createtime, dataorgid
  </sql>
  <sql id="Blob_Column_List" >
    message
  </sql>
  
  	<select id="selectEventpushlogs" resultMap="BaseResultMap" parameterType="com.stech.tcip.event.pojo.Eventpushlog">
		select
		    <include refid="Base_Column_List" />
		    ,
		    <include refid="Blob_Column_List" />
		from t_ip_eventpushlog
		<where>
			<if test="pushcode != null and pushcode != ''">
				and pushcode = #{pushcode,jdbcType=VARCHAR}
			</if>
			<if test="appid != null and appid != ''">
				and appid = #{appid,jdbcType=VARCHAR}
			</if>
			<if test="url != null and url !='' ">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status !=''">
				and status = #{status,jdbcType=VARCHAR}
			</if>
			<if test="dataorgid != null and dataorgid !=''">
				and dataorgid = #{dataorgid,jdbcType=VARCHAR}
			</if>
		</where>
		order by createtime desc
	</select>
	
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_ip_eventpushlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ip_eventpushlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stech.tcip.event.pojo.Eventpushlog" >
    insert into t_ip_eventpushlog (id, pushcode, appid, 
      url, status, createtime, 
      dataorgid, message)
    values (#{id,jdbcType=INTEGER}, #{pushcode,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, now(), 
      #{dataorgid,jdbcType=VARCHAR}, #{message,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.stech.tcip.event.pojo.Eventpushlog" >
    insert into t_ip_eventpushlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pushcode != null" >
        pushcode,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="dataorgid != null" >
        dataorgid,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pushcode != null" >
        #{pushcode,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataorgid != null" >
        #{dataorgid,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stech.tcip.event.pojo.Eventpushlog" >
    update t_ip_eventpushlog
    <set >
      <if test="pushcode != null" >
        pushcode = #{pushcode,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataorgid != null" >
        dataorgid = #{dataorgid,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.stech.tcip.event.pojo.Eventpushlog" >
    update t_ip_eventpushlog
    set pushcode = #{pushcode,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      dataorgid = #{dataorgid,jdbcType=VARCHAR},
      message = #{message,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stech.tcip.event.pojo.Eventpushlog" >
    update t_ip_eventpushlog
    set pushcode = #{pushcode,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      dataorgid = #{dataorgid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>